body, input, button {
   font-family: 'Armata', sans-serif;
}

.hero-unit{
    background: #fff;
}

.carousel-inner img {
    width: 100%;
    height: 200px !important;
}

#heading {
    width: 200px;
    height: 100px;
    border: 5px solid red;
    float: left;
}

#text {
   float: left;
}

.contentWrapper {
    padding: 10px;
    margin-top: -94px;
    position: absolute;
    color: white;
    width: 100%;
    background: rgba(233, 48, 2, 0.66);
    margin-left: -7px;
}

.container-fluid {
    margin-bottom:10px;
}

.mySubmit {
    height: 44px;
    margin-top: 10px;
}

input {
    height: 50px !important;
}

.brand img {
    width: 45px;
}

.navbar-inner, .navbar {
    background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #e93002),
    color-stop(1, #e93002)
) !important;
background-image: -o-linear-gradient(bottom, #e93002 0%, #E93002 100%) !important;
background-image: -moz-linear-gradient(bottom, #e93002 0%, #E93002 100%) !important;
background-image: -webkit-linear-gradient(bottom, #e93002 0%, #E93002 100%) !important;
background-image: -ms-linear-gradient(bottom, #e93002 0%, #E93002 100%) !important;
background-image: linear-gradient(to bottom, #e93002 0%, #E93002 100%) !important;

}

.navbar {
    box-shadow: 3px 3px 3px #888888 !important;

}

.nav {
    margin-top: 10px !important;
    margin-right: 10% !important;
}

#nav-menu li a {
    color: #fff !important;
    font-size: larger;
}

#nav-menu li a:hover {
    color: #000 !important;
}

#nav-menu li .active {
    color: #000 !important;
}

/*overide hero unit defaults*/
#contact-content {
    padding: 0 !important;
    margin-bottom: 0 !important;
}
#page-title {
    padding: 60px !important;
}

#contact-content .container {
    width: 100% !important;
    text-align: justify !important;
}
label.valid {
    width: 24px;
    height: 24px;
    background: url("../assets/valid.png") center center no-repeat;
    display: inline;
    text-indent: -9999px;
}
label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}

.alert{
    display: none;
}

